<div *ngIf="isLoggedIn();">
  <button mat-raised-button color="primary" class="logout-btn" (click)="logout()">Logout</button>
</div>
<div class="todo-list-wrapper">
    <img src="../../assets/images/todo.jpg" alt="" />
    <div class="list-section">
        <h2>To-Do List</h2>
    <mat-form-field>
      <mat-label>New Todo</mat-label>
      <input matInput [(ngModel)]="newTodo" name="newTodo">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addTodo()">Add</button>
    <table>
      <tr *ngFor="let todo of (todos$ | async); let i = index">
        <td><label>
          {{  i + 1 }}
        </label></td>
        <td><label>
          {{ todo.title }}
        </label></td>
        <td><label>
          {{ todo.isCompleted ? "Completed" : "Not Completed" }}
        </label></td>
        <td><button *ngIf="!todo.isCompleted" mat-icon-button (click)="completeTodo(todo.id)" matTooltip="Complete">
          <mat-icon>done</mat-icon>
        </button></td>
        <td><button mat-icon-button (click)="deleteTodo(todo.id)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button></td>
      </tr>
    </table>
    
    </div>
    
  </div>  